common --enable_bzlmod

try-import %workspace%/ci.bazelrc
try-import %workspace%/user.bazelrc

build --enable_platform_specific_config

build:macos \
  --apple_crosstool_top=@local_config_apple_cc//:toolchain \
  --crosstool_top=@local_config_apple_cc//:toolchain \
  --host_crosstool_top=@local_config_apple_cc//:toolchain \
  --macos_minimum_os=13.5 --host_macos_minimum_os=13.5

build:windows \
  --extra_toolchains=@local_config_cc//:cc-toolchain-x64_windows-clang-cl \
  --extra_execution_platforms=//:x64_windows-clang-cl

build \
  --disk_cache=~/.bazel_cache \
  --experimental_remote_cache_compression \
  --remote_build_event_upload=minimal \
  --nolegacy_important_outputs \
  --incompatible_strict_action_env

build:release \
  --compilation_mode=opt \
  --features=swift.opt_uses_wmo
