[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/SWXMLHash"]
	path = Carthage/Checkouts/SWXMLHash
	url = https://github.com/drmohundro/SWXMLHash.git
[submodule "Carthage/Checkouts/SwiftXPC"]
	path = Carthage/Checkouts/SwiftXPC
	url = https://github.com/jpsim/SwiftXPC.git
[submodule "Carthage/Checkouts/YamlSwift"]
	path = Carthage/Checkouts/YamlSwift
	url = https://github.com/behrang/YamlSwift.git
[submodule "Carthage/Checkouts/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = https://github.com/jspahrsummers/xcconfigs.git
[submodule "Carthage/Checkouts/Commandant"]
	path = Carthage/Checkouts/Commandant
	url = https://github.com/Carthage/Commandant.git
[submodule "Carthage/Checkouts/SourceKitten"]
	path = Carthage/Checkouts/SourceKitten
	url = https://github.com/jpsim/SourceKitten.git
