trigger:
- master

jobs:
- job: linux
  pool:
    vmImage: 'Ubuntu 16.04'
  strategy:
    maxParallel: 10
    matrix:
      swift420:
        containerImage: norionomura/swift:42
      swift421:
        containerImage: norionomura/swift:421
  container: $[ variables['containerImage'] ]
  steps:
    - script: swift test --parallel
      displayName: swift test

- job: Xcode
  pool:
    vmImage: 'macOS 10.13'
  strategy:
    maxParallel: 10
    matrix:
      xcode10:
        DEVELOPER_DIR: /Applications/Xcode_10.app
      xcode101:
        DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: git submodule update --init --recursive
      displayName: Update git submodules
    - script: xcodebuild -version
      displayName: xcodebuild -version
    - script: >
        set -o pipefail &&
        xcodebuild -workspace SwiftLint.xcworkspace -scheme swiftlint test |
        xcpretty -r junit -o build/reports/xcodebuild.xml
      displayName: xcodebuild test
    - task: PublishTestResults@2
      inputs:
        testRunner: JUnit
        testResultsFiles: build/reports/**
      condition: succeededOrFailed()

- job: SwiftPM
  pool:
    vmImage: 'macOS 10.13'
  strategy:
    maxParallel: 10
    matrix:
      xcode10:
        DEVELOPER_DIR: /Applications/Xcode_10.app
      xcode101:
        DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: xcodebuild -version
      displayName: xcodebuild -version
    - script: >
        set -o pipefail &&
        swift test --parallel
      displayName: swift test

- job: CocoaPods
  pool:
    vmImage: 'macOS 10.13'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: bundle update --bundler
      displayName: Update bundler
    - script: bundle install --path vendor/bundle
      displayName: bundle install
    - script: bundle exec pod lib lint --verbose SwiftLintFramework.podspec
      displayName: pod lib lint

- job: OSSCheck
  pool:
    vmImage: 'macOS 10.13'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: bundle update --bundler
      displayName: Update bundler
    - script: bundle install --path vendor/bundle
      displayName: bundle install
    - script: bundle exec danger --verbose
      displayName: Run Danger
      env:
        DANGER_GITHUB_API_TOKEN: $(DANGER_GITHUB_API_TOKEN)

- job: Analyze
  pool:
    vmImage: 'macOS 10.13'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: make analyze
      displayName: Run SwiftLint Analyze

- job: TSan
  pool:
    vmImage: 'macOS 10.13'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_10.1.app
  steps:
    - script: swift run --sanitize=thread swiftlint lint --lenient
      displayName: Pre-cache SwiftLint Run
    - script: swift run --sanitize=thread swiftlint lint --lenient
      displayName: Post-cache SwiftLint Run
    - script: make test_tsan
      displayName: Test With TSan
