trigger:
- main

jobs:
- job: Ubuntu
  pool:
    vmImage: 'ubuntu-24.04' # "Noble Numbat"
  strategy:
    maxParallel: 10
    matrix:
      'Swift 6':
        image: swift:6.0-noble
  container: $[ variables['image'] ]
  steps:
    - script: swift test --parallel -Xswiftc -DDISABLE_FOCUSED_EXAMPLES
      displayName: swift test

- job: macOS
  strategy:
    maxParallel: 10
    matrix:
      '14, Xcode 15.4':
        image: 'macOS-14'
        xcode: '15.4'
      '14, Xcode 16.1':
        image: 'macOS-14'
        xcode: '16.1'
      '15, Xcode 15.4':
        image: 'macOS-15'
        xcode: '15.4'
      '15, Xcode 16.2':
        image: 'macOS-15'
        xcode: '16.2'
  pool:
    vmImage: $(image)
  variables:
    DEVELOPER_DIR: /Applications/Xcode_$(xcode).app
  steps:
    - script: swift test --parallel -Xswiftc -DDISABLE_FOCUSED_EXAMPLES
      displayName: swift test

- job: Plugins # Plugins shall be able to run on older Swift versions.
  strategy:
    maxParallel: 10
    matrix:
      ': macOS 13, Swift 5.9':
        image: 'macOS-13'
        xcode: '15.2'
      ': macOS 14, Swift 5.10':
        image: 'macOS-14'
        xcode: '15.4'
      ': macOS 14, Swift 6':
        image: 'macOS-14'
        xcode: '16.1'
  pool:
    vmImage: $(image)
  variables:
    DEVELOPER_DIR: /Applications/Xcode_$(xcode).app
  steps:
    - script: swift build -c release --product SwiftLintCommandPlugin
      displayName: Command Plugin
    - script: swift build -c release --product SwiftLintBuildToolPlugin
      displayName: Build Tool Plugin

- job: CocoaPods
  pool:
    vmImage: 'macOS-14'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_16.1.app
  steps:
    - script: bundle install --path vendor/bundle
      displayName: bundle install
    - script: bundle exec pod repo update
      displayName: pod repo update
    - script: bundle exec pod lib lint --platforms=macos --verbose
      displayName: pod lib lint

- job: Jazzy
  pool:
    vmImage: 'macOS-14'
  variables:
    DEVELOPER_DIR: /Applications/Xcode_15.4.app
  steps:
    - script: swift run swiftlint generate-docs
      displayName: Run swiftlint generate-docs
    - script: bundle install --path vendor/bundle
      displayName: bundle install
    - script: bundle exec jazzy
      displayName: Run jazzy
    - script: >
        if ruby -rjson -e "j = JSON.parse(File.read('docs/undocumented.json')); exit j['warnings'].length != 0"; then
          echo "Undocumented declarations:"
          cat docs/undocumented.json
          exit 1
        fi
      displayName: Validate documentation coverage
    - task: PublishPipelineArtifact@0
      inputs:
        artifactName: 'API Docs'
        targetPath: 'docs'
    - task: DownloadSecureFile@1
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
      inputs:
        secureFile: doc_deploy_key
    - script: ./tools/push-docs
      displayName: Publish
      condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
