name: Documentation

on:
  push:
    branches: [main]
  pull_request:

jobs:
  create-docs:
    name: Create
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Build SwiftLint
        uses: ./.github/actions/bazel-linux-build
      - name: Build SourceKitten
        uses: ./.github/actions/bazel-linux-build
        with:
          target: "@com_github_jpsim_sourcekitten//:sourcekitten"
      - name: Generate docs
        run: |
          export PATH="/usr/share/swift/usr/bin:$PATH"
          make docs_linux
      - name: Validate documentation coverage
        run: |
          if ruby -rjson -e "j = JSON.parse(File.read('docs/undocumented.json')); exit j['warnings'].length != 0"; then
            echo "Undocumented declarations:"
            cat docs/undocumented.json
            exit 1
          fi
      - name: Upload docs
        if: github.event_name == 'push'
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

  deploy-docs:
    name: Deploy
    runs-on: ubuntu-24.04
    needs: create-docs
    if: github.event_name == 'push'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy docs
        id: deployment
        uses: actions/deploy-pages@v4
