name: Lint

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-swift:
    name: Swift
    runs-on: ubuntu-24.04 # "Noble Numbat"
    steps:
      - &checkout-step
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/bazel-linux-build
        name: Build SwiftLint with Bazel
        env:
          CI_BAZELRC_FILE_CONTENT: ${{ secrets.CI_BAZELRC_FILE_CONTENT }}
      - name: Lint
        run: ./bazel-bin/swiftlint lint --reporter github-actions-logging --strict 2> /dev/null
  lint-markdown:
    name: Markdown
    runs-on: ubuntu-24.04
    steps:
      - *checkout-step
      - name: Lint
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e # v20.0.0
        with:
          globs: |
            CHANGELOG.md
            CONTRIBUTING.md
            README.md
  lint-actions:
    name: Actions
    runs-on: ubuntu-24.04
    steps:
      - *checkout-step
      - name: Register problem matcher
        run: |
          curl -sSL https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json > actionlint-matcher.json
          echo "::add-matcher::actionlint-matcher.json"
      - name: Lint
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
