name: Lint

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  lint-swift:
    name: Swift
    runs-on: ubuntu-24.04 # "Noble Numbat"
    steps:
      - &checkout-step
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/bazel-linux-build
        name: Build SwiftLint with Bazel
        env:
          CI_BAZELRC_FILE_CONTENT: ${{ secrets.CI_BAZELRC_FILE_CONTENT }}
      - name: Lint
        run: ./bazel-bin/swiftlint lint --reporter github-actions-logging --strict 2> /dev/null
  lint-markdown:
    name: Markdown
    runs-on: ubuntu-slim
    steps:
      - *checkout-step
      - name: Lint
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101 # v22.0.0
        with:
          globs: |
            CHANGELOG.md
            CONTRIBUTING.md
            README.md
  lint-actions:
    name: Actions
    runs-on: ubuntu-24.04
    steps:
      - *checkout-step
      - name: Register problem matcher
        run: |
          curl -sSL https://raw.githubusercontent.com/rhysd/actionlint/main/.github/actionlint-matcher.json > actionlint-matcher.json
          echo "::add-matcher::actionlint-matcher.json"
      - name: Lint
        uses: docker://rhysd/actionlint:latest
        with:
          args: -color
