name: Stale Issues

on:
  schedule:
    - cron: '0 0 15 * *'
  workflow_dispatch:

permissions:
  issues: write

jobs:
  close-stale-issues:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Mark or close stale issues
        run: |
          ./tools/stale-issues.rb ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
